.btn{
  display: inline-block;
  color: #ffffff;
  background: $primary-color;
  width: 297px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 155.28%;
  /* or 25px */
  text-align: center;

  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;

  &:hover{
    opacity: 0.75;
  }
}


@media (min-width: $tablet-width) {
  .btn{
    font-size: 16px;
    line-height: 155.28%;
    width: 358px;
  }
}


@media (min-width: $desktop-width) {
  .btn{
    width: 408px;
    font-size: 19px;
line-height: 33px;
  }
}
